li {
  display: inline-block;
}

body {
	background-color: #eee;
	font-family: Roboto;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.6;
  color: #666;
}

a:hover {
	color: #2980b9;
}

h2 {
	line-height: 1.2;
	margin-bottom: 1.6rem;
}

header{
  height: 50vh;
  min-height: 300px;
  background-image: url("https://static.pexels.com/photos/17739/pexels-photo.jpg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: rgb(53, 51, 51);
}

select {
  display: inline-block;
  width: 80%;
}

.sectionRow {
  border-bottom: 1px solid grey;
}

.mappedItems {
  margin-top: -30px;
}

.inputData {
  margin-bottom: 40px;
}

.App {
  text-align: center;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}

.siteDescriptions{
	height: 480px;
}

.info-card{
	height: 360px;
}

.movedown{
  margin-top:60px;
}
.movedownalittle{
    margin-top:10px;
    
}
.movedownmore{
    margin-bottom: 20px;
}

.center{
	text-align: center;
}

.input-field{
	margin-top:0px;
}

.rv-xy-plot{
	margin:10px auto;
}
.rv-discrete-color-legend{
	text-align:center;
}

.rv-discrete-color-legend-item{
	display:inline-block;
}

.parallax-container {
  height: 50vh;
	min-height: 300px;
	color: white;
	text-shadow: 2px 2px black;
}

.carousel{
	height:350px !important;
}

.card-title{
	text-shadow: 2px 2px black;
}

.info-card{
	padding:30px;
}

.EnterSavingsWrapper, .allSavings{
  margin: 30px;
}

.movedown{
  margin-top:60px;
}
.movedownalittle{
	margin-top:10px;	
}

#Description{
	border-bottom: 1px solid black;
	text-align: left;
}

.colHeader {
  font-size: 30px;
}

.tooltip {
  z-index: 2;
  text-align: center;
  position: absolute;
  background: rgba(0,0,0,0.5);
  color: white;
  display:block;
  padding: 0 5px;
  min-width: 75px;
  border-radius: 5px;
  font-size:0.9em;
}

.tooltip .row{
  margin: 0;
  padding: 0;
}

.tooltip p{
  margin: 0;
  padding: 5px 0;
}


.barTooltip {
  z-index: 1;
  text-align: center;
  position: absolute;
  background: rgba(0,0,0,0.5);
  color: white;
  display:block;
  padding: 0 5px;
  min-width: 75px;
  border-radius: 5px;
}

.barTooltip .row{
  margin: 0;
  padding: 0;
}

.barTooltip p{
  margin: 0;
  padding: 5px 0;
}

input[type=text]:not(.browser-default){
	margin:0;
	text-align: left;
	/*border-bottom: none; */

}

.DateInput input[type=text]:not(.browser-default){
	margin:0;
	text-align: center;
	border-bottom: none; 
}

/* new home page  */
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@import url('https://fonts.googleapis.com/css?family=Spectral:500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600i');

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	max-width: 400px;
	margin: 50px auto;
	padding-left: 1em;
	padding-right: 1em;
}

/**
 * Helpers
 */
 /* use ************************************************************************** */
.border-tlr-radius {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
 /* use ************************************************************************** */

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow:
  		0 1px 3px rgba(0,0,0, 0.12),
    	0 1px 2px rgba(0,0,0, 0.24);
}


/**
 * Card Styles
 */

.card {
	background-color: #fff;
	margin-bottom: 1.6rem;
}
 /* use ************************************************************************** */

.card__padding {
	padding: 1.6rem;
}

.card__image {
	min-height: 100px;
	background-color: #eee;
}
	
.card__image img {
	width: 100%;
	max-width: 100%;
	display: block;
}

.card__content {
	position: relative;
}
 /* use ************************************************************************** */

/* card meta */
.card__meta time {
	font-size: 1.5rem;
	color: #bbb;
	margin-left: 0.8rem;
}

/* card article */
.card__article a {
	text-decoration: none;
	color: #444;
	transition: all 0.5s ease;
}

.card__article a:hover {
	color: #2980b9;
}
.card__article {
	height: 350px;
}

.picture {
	height: 300px;
}
/* card action */
.card__action {
	overflow: hidden;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	padding-bottom: 1.6rem;
}

.card__author {}

.card__author img,
.card__author-content {
	display: inline-block;
	vertical-align: middle;
}

.card__author img{
	border-radius: 50%;
	margin-right: 0.6em;
}

.card__share {
	float: right;
	position: relative;
	margin-top: -42px;
}

.card__social {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
	width: 160px;
	transform: translateZ(0);
  	transform: translateX(0px);
  	transition: transform 0.35s ease;
}

.card__social--active {
	visibility: visible;
	z-index: 3;
	transform: translateZ(0);
 	transform: translateX(-48px);
  	transition: transform 0.35s ease;
}

.share-toggle {
	z-index: 2;
}
.share-toggle:before {
	content: "\f1e0";
	font-family: 'FontAwesome';
	color: #3498db;
}
	
.share-toggle.share-expanded:before {
	content: "\f00d";
}

.share-icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.3s ease;
	outline: 0;

	box-shadow:
	  		0 2px 4px rgba(0,0,0, 0.12),
	    	0 2px 4px rgba(0,0,0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
	box-shadow:
  		0 3px 6px rgba(0,0,0, 0.12),
    	0 3px 6px rgba(0,0,0, 0.24);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.mail {
	background-color: #5cc3be;
}

.linkedin {
	background-color: #3b5998;
}

.github {
	background-color: #073b55;
}

.mail,
.linkedin,
.github {
	color: #fff;
}

.mail:hover,
.linkedin:hover,
.github:hover {
	color: #eee;
 }

.space{
  	margin-top:30px;
  	margin-bottom: 30px;
}

.movepage{
	margin-top:120px;
}
