.App {
  text-align: center;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}
li {
  display: inline-block;
}


header{
  height: 50vh;
  min-height: 300px;
  background-image: url("https://static.pexels.com/photos/17739/pexels-photo.jpg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100%;
  color: rgb(53, 51, 51);
}
.parallax-container {
  height: 50vh;
  min-height: 300px;
}
 

.movepage{
  margin-top:100px;
}

select {
  display: inline-block;
  width: 50%;
}

.tooltip{
  position: relative;
}