.App {
  text-align: center;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}
li {
  display: inline-block;
}

.card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 0 auto;
  max-width: 120px;
  min-height: 187px;
  height: 0 auto;
  display: inline-block;
  margin: 10px;
  vertical-align: center;
  padding: 5px;
  padding-top: 25px;
  font-family: monospace;
  vertical-align: top;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  text-align: center;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 0 auto;
  max-width: 120px;
  height: 0 auto;
  min-height: 187px;
  display: inline-block;
  margin: 10px;
  vertical-align: center;
  padding: 5px;
  padding-top: 25px;
  font-family: monospace;
  vertical-align: top;
}
