.App {
  text-align: center;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}
li {
  display: inline-block;
}


header{
  height: 50vh;
  min-height: 300px;
  background-image: url("https://static.pexels.com/photos/17739/pexels-photo.jpg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: rgb(53, 51, 51);
}
.parallax-container {
  height: 50vh;
  min-height: 300px;
}


.movepage{
  margin-top:100px;
}

select {
  display: inline-block;
  width: 50%;
}
.EnterSavingsWrapper, .allSavings{
  margin: 30px;
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}


.movedown{
  margin-top:60px;
}

/* .notmoving{
  position: fixed; 
  top: 0;
  overflow: hidden;
  background-color: #333;
  margin-top: 20px;
  width: 100%;

  
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */



.colHeader {
  font-size: 30px;
}

.tooltip {
  z-index: 1;
  text-align: center;
  position: absolute;
  background: rgba(0,0,0,0.5);
  color: white;
  display:block;
  padding: 0 5px;
  min-width: 75px;
  border-radius: 5px
}

.tooltip .row{
  margin: 0;
  padding: 0;
}
.tooltip p{
  margin: 0;
  padding: 5px 0;
}

/* .CalendarDay__highlighted_calendar {
  background: #82E0AA;
  color: #186A3B;
}

.CalendarDay__highlighted_calendar:hover {
  background: #58D68D;
  color: #186A3B;
}

.CalendarDay__highlighted_calendar:active {
  background: #58D68D;
  color: #186A3B;
} */
